@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('Ubuntu/ubuntu-regular-webfont.woff2') format('woff2'),
    url('Ubuntu/ubuntu-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('Ubuntu/ubuntu-bold-webfont.woff2') format('woff2'),
    url('Ubuntu/ubuntu-bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
