$mainRegularFont: 'Ubuntu-Regular', Helvetica, Arial, sans-serif;
$mainBoldFont: 'Ubuntu-Bold', Helvetica, Arial, sans-serif;

$mainFontColor: #1c78c0;
$headerBackgroundColor: #1c78c0;
$footerBackgroundColor: #070707;

$mainPadding: 30px 15px;

$desktopWidth: 1280px;
$smallDesktopWidth: 1024px;
$tabletWidth: 768px;
$smallTabletWidth: 640px;
$phoneWidth: 480px;
$smallPhoneWidth: 320px;
