<!DOCTYPE html>
<html lang="en">

{{> partials/head title='About page' }}

<body>
  {{> partials/header }}
  <main class="main">
    <div class="container main__wrapper">
      <h1 class="main__heading">Hey, I am about page</h1>
    </div>
  </main>
  {{> partials/footer }}
</body>

</html>