<!DOCTYPE html>
<html lang="en">

{{> partials/head title='Webpack config' }}

<body>
  {{> partials/header }}
  <main class="main">
    <div class="container main__wrapper">
      <img class="main__logo" src="logo.png" alt="logo">
      <h1 class="main__heading">Hey, I am a main page</h1>
      <p class="main__paragraph">Change my content in <span class="main__span">src/pages/index.hbs</span> :)</p>
    </div>
  </main>
  {{> partials/footer }}
</body>

</html>